build/
generated/
html/
latex/


# --- CMake in-source pollution (in case a stray `cmake .` happens again) ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
compile_commands.json
Testing/


.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/
Debug/
Release/
x64/
Win32/
ALL_BUILD.*
ZERO_CHECK.*

/docs/html/
/docs/latex/
/docs/xml/
